@import url(variables.css);

:root {
	--col-black: #000;
	--col-white: #fff;
	--p1: url(../svg/p1.svg);
	--p2: url(../svg/p2.svg);
	--border: 2px solid var(--col-black);
}

html,
body {
	color: var(--col-black);
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

main {
	padding-top: 1em;
}

h1 {
	margin: 0em 0 1em 0;
	font-family: serif;
}

board {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 60vmin;
	height: 60vmin;
	max-width: 550px;
	max-height: 550px;
	box-shadow: var(--shadow-2);
}

row {
	display: flex;
	flex-wrap: nowrap;
	height: 60vw;
}

cell {
	flex-grow: 1;
	border: var(--border);
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

cell:hover {
	opacity: 0.9;
}

cell[value='1'] {
	background-image: var(--p1);
}

cell[value='2'] {
	background-image: var(--p2);
}

row cell {
	border-left: 0;
}

row cell:last-of-type {
	border-right: 0;
}

row cell {
	border-top: 0;
}

row:last-of-type cell {
	border-bottom: 0;
}

btn {
	display: inline-block;
	padding: 0.6em 1em;
	background-color: var(--col-primary);
	color: white;
	box-shadow: var(--shadow-1);
	border: none;
	cursor: pointer;
	transition: box-shadow 0.3s, background-color 0.3s;
	margin: 1em 0 2em 0;
	user-select: none;
}

btn:hover {
	background-color: var(--col-primary-light);
	box-shadow: var(--shadow-2);
}

switch {
	display: inline-flex;
	justify-content: center;
	align-items: stretch;
	margin: 0 0 1em 0;
	background-color: var(--col-black);
	box-shadow: var(--shadow-2);
}

switch mode {
	background-color: var(--col-white);
	line-height: 100%;
	opacity: 0.7;
	padding: 0.3em 0.7em;
	user-select: none;
	cursor: pointer;
}

switch mode:hover {
	background: var(--col-white);
	color: var(--col-black);
	opacity: 0.8;
}

switch mode.active {
	background-color: var(--col-white);
	color: var(--col-black);
	opacity: 1;
}

label {
	display: none;
	margin: 0.5em auto;
}

select {
	display: none;
	margin-bottom: 2em;
}

label.visible {
	display: block;
}

select.visible {
	display: inline-block;
}
