:root {
	--col-black: #000;
	--col-white: #fff;
	--p1: url(/svg/p1.svg);
	--p2: url(/svg/p2.svg);
	--border: 4px solid var(--col-black);
}

html,
body {
	color: var(--col-black);
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

main {
	padding-top: 2em;
}

h1 {
	margin-bottom: 1em;
}

board {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 60vmin;
	height: 60vmin;
	max-width: 550px;
	max-height: 550px;
}

row {
	display: flex;
	flex-wrap: nowrap;
	height: 60vw;
}

row:last-child {
	border: 0;
}

cell {
	flex-grow: 1;
	border: var(--border);
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

cell:hover {
	opacity: 0.9;
}

cell[value='1'] {
	background-image: var(--p1);
}

cell[value='2'] {
	background-image: var(--p2);
}

row cell:not(:first-of-type) {
	border-left: 0;
}

row:not(:first-of-type) cell {
	border-top: 0;
}

btn {
	display: inline-block;
	user-select: none;
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 1em;
	padding: 0.2em 0.6em;
	border: var(--border);
	cursor: pointer;
}

btn:hover {
	background: var(--col-black);
	color: white;
}

switch {
	display: inline-flex;
	justify-content: center;
	align-items: stretch;
	margin: 1em 0;
	border: 2px solid var(--col-black);
	background-color: var(--col-black);
}

switch mode {
	background-color: var(--col-white);
	line-height: 100%;
	opacity: 0.7;
	padding: 0.3em 0.7em;
	user-select: none;
	cursor: pointer;
}

switch mode:hover {
	background: var(--col-white);
	color: var(--col-black);
	opacity: 0.8;
}

switch mode.active {
	background-color: var(--col-white);
	color: var(--col-black);
	opacity: 1;
}

label {
	display: block;
	margin: 1em auto 0.5em auto;
	visibility: hidden;
}

select {
	display: inline-block;
	margin-bottom: 2em;
	visibility: hidden;
}

label.visible,
select.visible {
	visibility: visible;
}
