:root {
	--col-bg: hsl(15, 12%, 90%);
	--col-text: hsla(20, 60%, 5%, 0.87);
	--col-text-light: hsla(15, 6%, 80%, 0.87);
	--col-accent: hsl(303, 28%, 31%);

	--col-primary: cadetblue;
	--col-primary-light: hsl(182, 35%, 60%);

	--shadow-1: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	--shadow-2: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
	--shadow-3: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.12);
	--shadow-4: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
	--shadow-5: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.12);

	--shadow-card-1: rgba(255, 255, 255, 0) 0 0 40px 5px,
		rgba(255, 255, 255, 0) 0 0 0 1px, 0 14px 28px rgba(0, 0, 0, 0.12),
		0 10px 10px rgba(0, 0, 0, 0.12), inset #333 0 0 0 5px,
		inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
	--shadow-card-2: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
		0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.25),
		inset #333 0 0 0 5px, inset white 0 0 0 6px;

	--radius: 10px;

	--time-transition: 0.4s;
}
